{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- product section start -->
    <div class="product_section layout_padding">
    <div class="container">
    <div class="row">
       <div class="col-md-12">
          <h1 class="product_taital">Products</h1>
          <p class="product_text">Hello our esteemed customer. Come see our wonderful products here</p>
       </div>
    </div>
    <div class="row">
       <div class="col-md-12">
          <div class="owl-carousel owl-theme">
             <div class="item">
                <div class="image_main"><img src={% static "images/img-2.png"%} alt="image"  alt=""/></div>
                <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
             </div>
             <div class="item">
                <div class="image_main"><img src={% static "images/img-6.png"%} alt="sorry" /></div>
                <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
             </div>
             <div class="item">
                <div class="image_main"><img src={% static "images/img-5.png"%} alt="image" /></div>
                <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
             </div>
             <div class="item">
                <div class="image_main"><img src={% static "images/img-1.png"%} alt="image" /></div>
                <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
             </div>
             <div class="item">
                <div class="image_main"><img src={% static "images/img-2.png"%} alt="image" /></div>
                <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
             </div>
             <div class="item">
                <div class="image_main"><img src={% static "images/img-2.png"%} alt="image" /></div>
                <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
             </div>
             <div class="item">
                <div class="image_main"><img src={% static "images/img-7.png"%} alt="image" /></div>
                <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
             </div>
          </div>
       </div>
    </div>
    </div>
    </div>
    <!-- product section start -->
{% endblock %}<!DOCTYPE html>
